/* General body styles */
body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(30, 30, 60, 1) 0%, rgba(30, 30, 60, 1) 35%, rgba(30, 30, 60, 0.8) 70%, rgba(30, 30, 60, 0.6) 100%), url('assets/images/oriental-tiles.png'); /* Update to match your background image */
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 60px;
    left: 60px;
}

.logo {
    width: 150px; 
    height: auto;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    max-width: 1200px;
    margin-top: auto;
    margin-bottom: auto;
}

.game-container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 20px;
    width: 60%; 
    max-width: 700px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-right: 20px; 
    margin-top: 150px;
}

.question-container {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #222;
    border-radius: 10px;
    font-size: 1.5em;
}

.prize-list-container {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 20px;
    width: 30%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.prize-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.prize-list-container li {
    background-color: #444;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 1.1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.prize-list-container .highlight {
    background-color: orange;
    color: #000;
    font-weight: bold;
}